<!-- add Item -->
<div class=" container">
    <form class="add-product" #myproductForm=ngForm>
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group" [ngClass]="{'invalid': inputTextName.invalid && inputTextName.touched}">
                                <label for="">Name</label>
                                <input #inputTextName="ngModel" ngModel  required pattern="^[\u0621-\u064A]+$" class="form-control" type="text" name="productName" id="">
                            </div>
                            <span *ngIf="inputTextName.invalid && inputTextName.touched &&inputTextName.errors?.['required']" style="color:red;">This Field Is Required*</span>
                            <span *ngIf="inputTextName.invalid && inputTextName.touched &&inputTextName.errors?.['pattern']" style="color:red;"> {{inputTextName.errors?.['pattern']?.['actualValue']}} is Invalid Data*</span>
                            
                            <div class="form-group" [ngClass]="{'invalid': inputTextDescription.invalid && inputTextDescription.touched}">
                                <label for="">Description</label>
                                <textarea ngModel class="form-control"  name="productDescription" #inputTextDescription="ngModel" required id="" cols="30" rows="4"></textarea>
                            </div>
                            <span *ngIf="inputTextDescription.invalid && inputTextDescription.touched &&inputTextDescription.errors?.['required']" style="color:red;">This Field Is Required*</span>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group invalid">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group" [ngClass]="{'invalid': inputTextPrice.invalid && inputTextPrice.touched}">
                    <label for="">Price</label>
                    <input ngModel class="form-control"   type="number" name="productPrice" id="" #inputTextPrice="ngModel" required>
                </div>
                <span *ngIf="inputTextPrice.invalid && inputTextPrice.touched &&inputTextPrice.errors?.['required']" style="color:red;">This Field Is Required*</span>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input type="radio" #onSale=ngModel name="onSale" id=""  ngModel value=1><span>On Sale</span></div>
                            <div class="form-group__radio"><input type="radio" #onSale=ngModel name="onSale" id="" ngModel value=0><span>Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [disabled]="onSale.value ==0"  class="form-control" type="number" name="productDiscount" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div class="form-group__checkboxs">
                        <div  *ngFor="let payment of paumentTypes;let i=index " class="form-group__checkbox"><input type="checkbox" [value]="payment.id" [name]="'check_'+i" (input)="onCheckedInput(i)" id=""><span>{{payment.name}}</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select ngModel class="form-control" name="productCategory" id="">
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>

                <div class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div class="taged-textbox__tag"><span>tag1</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag2</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag3</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag4</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag5</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag6</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag7</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag8</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag9</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag10</span><a class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input class="taged-textbox__textbox form-control" type="text" name="" id="">
                </div>
                <div class="add-product__actions">
                    <button  class="btn btn--gray">Cancel</button>
                    <button class="btn btn--primary" (click)="onFormSubmit(inputTextName)"  >Add</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- footer -->
<div class="footer">
    <!-- subscription -->
    <div></div>
    <!-- menu -->
    <div></div>
    <!-- contact info -->
    <div></div>
</div>